* {box-sizing: border-box;}
        ul {list-style-type: none;}

        #eventos {
          padding-top: 2px;
          padding-bottom: 2px;
          overflow-x: hidden;
          overflow-y: scroll;
        }

        #evento {
          border-radius: 5px;
          padding: 5px;
          height: max-content;
          width: max-content;
          margin: 2px;
        }

        #mesAnterior {
            background: inherit;
            padding: 75px 40px;
            height: max-content;
            width: max-content;
            color: white;
            font-size: 23;
            border-style: none;
            display: inline-flex;
            align-items: center;
        }

        #mesSiguiente {
            background: inherit;
            padding: 75px 40px;
            height: max-content;
            width: max-content;
            color: white;
            font-size: 23;
            border-style: none;
            display: inline-flex;
            align-items: center;
        }

         #formMonth {
             display: inline-flex;
             align-items: center;
             width: 100%;
             margin-bottom: -10;
             height: 100;
         }

        .month {
            padding: inherit;
            width: -webkit-fill-available;
            background: #1abc9c;
            text-align: center;
            display: inline-flex;
            align-items: center;
            margin-left: 140;
            margin-right: 140;
        }

        .month ul {
            margin: 0;
            padding: 0;
            width: 100%;
        }

        .month ul li {
            color: white;
            font-size: 20px;
            text-transform: uppercase;
            letter-spacing: 3px;
            width: max-content;
            display: inline-block;
            align-items: center;
        }

        .month .prev {
            float: left;
            padding: 10px;
            display: inline-flex;
            align-items: center;
        }

        .month .next {
            float: right;
            padding: 10;
            display: inline-flex;
            align-items: center;
        }

        .month .mes {
           padding: 80px;
        }

        .weekdays {
          margin-left: 140;
          margin-right: 140;
          margin-top: 0;
          padding: 10px 0;
          margin-bottom: 0;
          padding-left: 20;
          background-color: #ddd;
        }

        .weekdays li {
          display: inline-block;
          width: 13.5%;
          color: #666;
          text-align: center;
          font-size: 14;
        }

        .days {
          background: #eee;
          margin-left: 140;
          margin-right: 140;
          margin-top: 0;
          padding: 10;
          padding-left: 25;
          padding-bottom: 30;
        }

        .days li {
          list-style-type: none;
          display: inline-grid;
          width: 13.9%;
          height: 15%;
          text-align: center;
          margin-bottom: 1px;
          margin-left: -1px;
          margin-top: -10%;
          margin-right: -1;
          font-size:12px;
          color: #777;
          border: #dadce0 1px solid;
        }

        .days li .active {
          padding: 5px;
          background: #1abc9c;
          color: white !important
        }

        /* Add media queries for smaller screens */
        @media screen and (max-width:720px) {
          .weekdays li, .days li {width: 13.1%;}
        }

        @media screen and (max-width: 420px) {
          .weekdays li, .days li {width: 12.5%;}
          .days li .active {padding: 2px;}
        }

        @media screen and (max-width: 290px) {
          .weekdays li, .days li {width: 12.2%;}
        }

        #nuevoEvento {
           background-color: #8E44AD;
           border: none;
           color: white;
           text-align: center;
           font-size: 20px;
           margin: 0px 140px;
           float: right;
           border-radius: 50%;
           padding: 20px;
        }

          #numeroDia{
            width: min-content;
            margin-left: 5;
          }

          #eventos::-webkit-scrollbar {
              width: 0px;
          }