<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="../../main.css">
    </head>
    <body>

        <h1>Crear evento</h1>
        <p>Complete los siguientes campos para crear un evento</p>

        <form action="/usuarios/1/calendario/evento">
            Descripción:
            <input type="text" name="nombre">
            <br><br>
            Ubicación:
            <input type="text" name="ubicacion">
            <br><br>
            Fecha:
            <input type="datetime-local" name="fecha">
            <br><br>
            <input type="submit" value="Crear">
        </form>

    </body>
</html>