<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="calendario">Mi Calendario</a>
    <a class="navbar-brand" href="guardarropas">Mis Guardarropas</a>
    <a class="navbar-brand" href="eventos">Mis Eventos</a>
</nav>
<div class="content container container-table alta-evento">
    <h3>Nuevo Evento</h3>
    <h4>Complete los siguientes campos y pulse "Crear" para dar de alta un evento</h4>
    <form action="/evento" method="post">
        <div class="form-group">
            <label for="descripcion">Descripcion</label>
            <input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="Ingrese la descripción">
        </div>
        <div class="form-group">
            <label for="ubicacion">Ubicacion</label>
            <input type="text" class="form-control" id="ubicacion" name="ubicacion" placeholder="Ingrese la ubicación">
        </div>
        <div class="form-group">
            <label for="fecha">Fecha</label>
            <div class='input-group date' id='datepicker'>
                <input type="text" class="form-control" id="fecha" name="fecha" placeholder="Elija una fecha">
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
              </span>

                <script>
                    $(function () {
                        $('#datepicker').datetimepicker();
                    });
                </script>
            </div>
        </div>
        <input type="submit" class="btn btn-primary" onclick="myFunction()" id="crear" name="crear" value="Crear"/>
        <script>
            function myFunction(e) {
                var desc = document.querySelector('#descripcion');
                var ubicacion = document.querySelector('#ubicacion');
                var datepicker = document.querySelector('#datepicker');

                if (desc.value === '' || ubicacion.value === '' || datepicker.value === '') {
                    alert("Debe completar todos los campos");
                }
                e.preventDefault();
                e.stopImmediatePropagation();
            }
        </script>
    </form>
</div>
</body>
</html>