<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/main.css">
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="calendario">Mi Calendario</a>
        <a class="navbar-brand" href="guardarropas">Mis Guardarropas</a>
        <a class="navbar-brand" href="eventos">Mis Eventos</a>
    </nav>
        <div class="content">
            <h3>
                Elija un evento
            </h3>
            {{#if redirectSugerencias}}
            <div>
                Se aceptó la sugerencia con éxito
            </div>
            {{/if}}
            <ul>
                {{#each eventos}}
                <li class="evento">
                    <a href="/eventos/{{id}}/sugerencias/0">
                    Nombre: {{nombre}} - Fecha: {{fecha}} - Ubicación: {{ubicacion}}
                    </a>
                </li>
                {{/each}}
            </ul>
        </div>
    </body>
</html>