<html>
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/main.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!--- Include the above in your HEAD tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style class="cp-pen-styles">
        .card {
            color: #6eb6de;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 800px;
            margin: auto;
            text-align: center;
         }

        .title {
        color: grey;
        font-size: 100px;
        font-variant-caps: all-petite-caps;
        font-family: fantasy;
        color: lightskyblue;
        }
        .usuario {
        color:black;
        font-size: 50px;
        font-style: oblique;
        }

        button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
        }

        button:hover, a:hover {
        opacity: 0.7;
        }
    </style>
</head>
<body>
    <div class="card">
        <p class="title" >Qué Me Pongo</p>
        <label class="usuario" id="usuario">Bienvenido {{nombre}} {{apellido}} !! </label>
        <p><button name="guardarropa" class="btn btn-primary btn-lg btn-block" onclick="listarGuardarropa();" >Mis guardarropas</button></p>
        <p><button name="calendario" class="btn btn-primary btn-lg btn-block" onclick="mostrarCalendario();" >Mi Calendario</button></p>
        <p><button name="cerrarSesion" class="btn btn-secondary btn-lg btn-block" onclick="cerrarSesion();">Cerrar Sesión</button></p>
    </div>
</body>

<script>
function listarGuardarropa() {
    window.location.href = "/guardarropas";
}

function cerrarSesion() {
    alert("entra en cerrar sesion");
    window.location.href = "/login";
}

function mostrarCalendario(){
    var today = new Date();
    var date = today.getFullYear()+'/'+(today.getMonth()+1);
    window.location.href = "/calendario/" + date;
}
</script>
</html>
