<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!------ Include the above in your HEAD tag ---------->
<!DOCTYPE html><html lang='es' class=''>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style class="cp-pen-styles">
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 800px;
            margin: auto;
            text-align: center;
         }

        .title {
        color: grey;
        font-size: 100px;
        }
        .usuario {
        color:black;
        font-size: 50px;
        }

        button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
        }

        button:hover, a:hover {
        opacity: 0.7;
        }
    </style>
</head>
<body>
<form id="form1">
    <div class="card">
        <p class="title" style="color:black;">"Que Me Pongo"</p>
        <label class="usuario" id="usuario">Bienvenido Usuario {{id}}</label>
        <p><button name="cerrarSesion" onclick="Sesion();">Cerrar Sesion</button></p>
        <p><button name="altaDePrenda" onclick="AltaPrenda();">Alta de Prenda</button></p>
    </div>
</form>
<script>
        function AltaPrenda(){
            document.getElementById("form1").action = "/altaDePrenda";
            document.getElementById("form1").method = "GET";
        }
    </script>
<script>
        function Sesion(){
            document.getElementById("form1").action = "/login";
            document.getElementById("form1").method = "GET";
        }
    </script>
</body>