<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/main.css">
    <style>
        .h2, h2 {
            font-size: 2rem;
            background-color: rgba(0,0,0,.075);
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="calendario">Mi Calendario</a>
    <a class="navbar-brand" href="guardarropas">Mis Guardarropas</a>
    <a class="navbar-brand" href="eventos">Mis Eventos</a>
</nav>
    <h1>
        Prendas del {{ nombreGuardarropa }}
    </h1>


    <div class="card-columns" >
        {{#each prendasSuperiores}}
            <div id="prenda" class="card text-black"  style="max-width: 18rem;">
                <img src="/remera.png"  class="rounded-sm" alt="left">
                <div class="card-body">
                    <h5 class="card-title">{{nombrePrenda}}</h5>
                    <p class="card-text">{{nombreCategoria}}</p>
                    <p class="card-text">{{nombreMaterial}}</p>

                </div>
            </div>
        {{/each}}
    </div>

    <script>
        var prendas = document.querySelectorAll("#prenda");
        for(i = 0; i < prendas.length; i++) {
            prendas[i].style.backgroundColor = "hsla(" + ~~(360 * Math.random()) + "," +"70%,"+"80%,1)";
        }
    </script>


</body>
</html>
